/* Mobile */

.title {
  text-align: center;
  font-size: 1.4rem;
  color: #603250;
  margin-bottom: 1rem;
}
table {
  width: 100%;
}

th {
  color: #9c4f77;
}

td,
th {
  text-align: center;
  padding: 0.7rem;
}

td {
  border-top: 1px solid #9c4f77;
  font-weight: 500;
}

tr:nth-child(even) {
  background-color: #f4e3eb;
}
.weekendText {
  text-align: center;
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 500;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media (min-width: 1550px) {
  h1 {
    font-size: 1.8rem;
  }

  th {
    font-size: 1.5rem;
  }

  td {
    font-size: 1rem;
  }
}
