/* Mobile */
.weather {
  text-align: center;
}
.city {
  font-size: 1.5rem;
  color: #603250;
}
.desc::first-letter {
  text-transform: uppercase;
}
.degree {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0.8rem 0 0.3rem 0;
}
.icon {
  background-color: #efe5ea;
  border-radius: 30%;
  margin: 1rem 0;
  width: 100px;
}
.sunTime {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}
