/* Mobile */
.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 0.5rem;
  padding-right: 0.8rem;
  background-color: #693250;
  color: white;
  height: 3rem;
}
.h1 {
  font-size: 0.8rem;
  font-weight: 500;
  margin: auto 0;
  color: white;
}

.logoLarge {
  display: none;
}

@media (min-width: 1550px) {
  .footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 0.5rem 4rem 0.5rem 2.5rem;
    height: 4rem;
  }
  .h1 {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
  }
  .logoSmall {
    display: none;
  }
  .logoLarge {
    display: block;
  }
}
