@media (min-width: 1020px) {
  .wrapper {
    width: 95%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .first-section,
  .second-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  aside {
    grid-column-start: 2;
    grid-row: 1 / span 2;
  }
}
